<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff" />
    <title>FoodRadar - Restaurant Apps</title>

    <!-- === FONT === --> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="#main-content" class="skip-link">Skip to Content</a>
      <app-bar></app-bar>
    </header>
    <main id="main-content" class="content" tabindex="0">
      <div id="jumbotron-container" class="container-banner">
        <div class="jumbotron">
          <picture>
            <source media="(max-width: 600px)" srcset="./images/hero-image_2-small.jpg">
            <img class="jumbotron-image" src="./images/hero-image_2-large.jpg" alt="Banner image for FoodRadar website" width="100%" height="auto" loading="lazy">
          </picture>
            
            <div class="text-overlay" tabindex="0">
              <h1>Welcome to FoodRadar!</h1>
              <p>Discover the Best Culinary Sensations Around the World.</p>
            </div> 
        </div> 
      </div>
      <div class="restaurant-list" id="app">
          
      </div>
    </main>
    <footer>
      <h5> Copyright © 2024 Cherillya Rahmita, All rights reserved. Submission Kedua Kelas Menjadi Front-End Web Developer Expert. <p>Powered by Baparekraf Digital Talent Web Development - Dicoding.</p></h5>
    </footer>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js" defer></script>
  </body>
</html>
